<template>
  <div>
    <article class="section">
      <template v-if="isLogin">
      <form @submit.prevent="getCurrentUser">
        <h1 class="title has-text">Inicio de sesion</h1>
        <div class="columns">
          <div class="column is-half is-offset-one-quarter">
            <div class="field">
              <div class="control is-small">
                <input
                  class="input"
                  v-model="userData.user"
                  type="text"
                  placeholder="Ingresa tu Usario"
                />
              </div>
              <div class="control is-small">
                <input
                  class="input"
                  v-model="userData.password"
                  type="password"
                  placeholder="Ingresa tu contrasenia"
                />
              </div>
              <div class="columns">
                <div class="column">
                  <a href="#" @click="isLogin = false" class="is-block">Aun no tienes un cuenta?</a>
                  <a href="#">No recuerdas tu contrasenia?</a>
                </div>
                <div class="column">
                  <button class="button is-link" type="submit">Ingresar</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        
      </form>
      </template>

      <!-- Inicia template de registro -->
      <template v-else>
        <form @submit.prevent="doRegisterUser">
        <h1 class="title has-text">Registro de usuario</h1>
        <div class="columns">
          <div class="column is-half is-offset-one-quarter">
            <div class="field">
              <div class="control is-small">
                <input
                  class="input"
                  v-model="userData.user"
                  type="text"
                  placeholder="Ingresa tu Usario"
                />
              </div>
              <div class="control is-small">
                <input
                  class="input"
                  v-model="userData.email"
                  type="email"
                  placeholder="Ingresa tu email"
                />
              </div>
              <div class="control is-small">
                <input
                  class="input"
                  v-model="userData.password"
                  type="password"
                  placeholder="Ingresa tu contrasenia"
                />
              </div>
              <div class="columns">
                <div class="column">
                  <a href="#" @click="isLogin = true" class="is-block">Ya tienes una cuenta?</a>
                </div>
                <div class="column">
                  <button class="button is-link" type="submit">Ingresar</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        
      </form>

      </template>
      
    </article>
  </div>
</template>

<script>
export default {
  name: "Auth",
  data(){
    return{
      isLogin: true,
      userData: {
        user: "",
        password: "",
        email:"",
        estancia: ""
      }
    }
  },
  methods:{
    async doRegisterUser(){
      try {
        console.log('Entre aqui');
        this.$store.dispatch('user/doRegisterUser',{
          user: this.userData.user,
          email: this.userData.email,
          pass: this.userData.password
        })
      } catch (error) {
        console.log(error.message);
      }
    }
  }
};
</script>

<style>
article{
  background: #2E86C1;
  border-radius: 10px;
}
a, h1{
  color: white;
}
.title{
  color: white;
}
.control {
  margin: 5px;
}
/* .button{
  margin-top: 10px;
} */
</style>