<template>
  <div id="">
   <HistoryComponent />
   
  <ContentListAndChat />
  
   
  </div>
</template>

<script>

import HistoryComponent from "../components/HistoryComponent.vue";
import ContentListAndChat from '../components/ContentListaAndChat'
export default {
  name: "Home",
  components: {
    HistoryComponent,
    ContentListAndChat
  }
  
};
</script>

<style scoped>
#column-align-chat {
 position: fixed;
  bottom: 0;
  right: 0;
  background: royalblue;
  margin-bottom: 1%;
  z-index: 1;
}


</style>

