<template>
  <div>
    <div class="columns">
      <div class="column is-three-fifths is-offset-one-fifth">
        <div class="card">
          <div class="card-content">
            <div>
              <div class="card-image">
                <figure class="image">
                  <img src="../assets/img/img_fondo.jpg" alt="Placeholder image"/>
                </figure>
              </div>

              

            </div>
            <div class="card-image" id="aling-img-profile">
              <div class="card-image">
                <figure class="image">
                  <img id="img-profile" @click="saluda" src="../assets/img/img_fondo.jpg" alt="Placeholder image"/>
                </figure>
              </div>
              
            </div>
            <div>
              <h1 class="title has-text-centered">Isaac Barragan</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Profile",
  methods:{
    saluda(){
      alert('Saludos');
    }
  }
};
</script>

<style>
#area-image {
  background: blue;
  
}

#aling-img-profile{
display: flex;
  align-items: center;
  justify-content: center;
  
}
#img-profile{
  width: 150px;
  height: 150px;
  border-radius: 75%;
  position: relative;
  bottom: 70px;
  cursor: pointer;
  background: red;
}
</style>