<template>
  <div class="" id="chat-user">
    <template>
      <div class="columns" id="">
        <!-- Inicia el card del chat -->
        <div class="column is-one-quarter" v-for="(chat, $index) in chatOpen" :key="chat.id">
          <div class="card" v-if="chat.open">
            <div class="card-header">
              <div class="card-header-title">{{chat.name}}</div>
              <div class="card-header-icon"><span @click="downChat($index)">-</span></div>
              <div class="card-header-icon"><span @click="closeChat($index)"><strong>X</strong></span></div>
            </div>
            <div class="card-content">
              <div class="media">
                <div class="media-left">
                  <p class="title is-5">{{chat.name}}</p>
                </div>

                <div class="media-content" id="media-color-content">
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur pariatur, fuga quisquam eaque quaerat.</p>
                </div>

              </div>
            </div>
            <footer class="card-footer">
              <input class="input is-rounded" type="text" placeholder="Rounded input">
              <a href="#" class="card-footer-item">Seend</a>
              
            </footer>

          </div>
          <div v-else>
            <div class="card">
              <div class="card-footer">
                <a href="#" @click="upChat($index)" class="card-footer-item">{{ chat.name }}</a>
              </div>
            </div>
          </div>
        </div>
        <!-- Termina el car del chat -->
      </div>
    </template>


  </div>
</template>

<script>
export default {
  name: "ChatUserComponent",
  props: {
    paragraph: String,
  },
  data() {
    return {
      chatUp: true,
    };
  },
  methods: {
    showChat() {
      this.chat = true;
    },
    async closeChat(index) {
      //this.showChat = false;
      this.$store.dispatch("chats/closeChat", index);
    },
    async downChat(index){
      return this.$store.dispatch("chats/downChat", index);
    },
    async upChat(index){
      return this.$store.dispatch("chats/upChat", index);
    }
  },
  computed: {
    chatOpen() {
      return this.$store.state.chats.chats;
    },
  },
};
</script>

<style>
#chat-user {
  width: 100%;
  /* align-self: inherit;
  align-content: right; */
  
}
#media-color-content{
  text-align: center;
  background:  #3498db;
  border: 4px solid#ecf0f1;
  border-radius: 10px;
}
#color{
  background: black;
}
</style>