<template>
  <div class="" id="box-chat">
      <div class="columns">
          <div class="column is-align-self-flex-end">
              <ChatUserComponent />
          </div>
          <div class="column is-align-self-flex-end is-one-fifth">
              <ListChatUserComponent />
          </div>
      </div>
  </div>
</template>

<script>
import ListChatUserComponent from "../components/ListUserComponent.vue";
import ChatUserComponent from "../components/ChatUserComponent.vue";
export default {
    name: 'ContentListaAndChat',
    components:{
        ChatUserComponent,
    ListChatUserComponent,
    }
}
</script>

<style>
#box-chat {
  width: 100%;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 1;
 
}
#color{
    background: black;
}
</style>