<template>
  <div>
      <h1 class="title has-text">Historias</h1>

    <article class="article">
      <!-- Inicia card de historias-->
      <div class="column is-half is-offset-one-quarter">
        <div>
        <template v-for="user in getDataUser">
          <div class="card" :key="user.id">
            <div class="card-image">
              <figure class="image is-4by3">
                <img
                  src="https://bulma.io/images/placeholders/1280x960.png"
                  alt="Placeholder image"
                />
              </figure>
            </div>
            <div class="card-content">
              <div class="media">
                <div class="media-left">
                  <figure class="image is-48x48">
                    <img
                      src="https://bulma.io/images/placeholders/96x96.png"
                      alt="Placeholder image"
                    />
                  </figure>
                </div>
                <div class="media-content">
                  <p class="title is-4">John Smith</p>
                  <p class="subtitle is-6">@johnsmith</p>
                </div>
              </div>

              <div class="content">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Phasellus nec iaculis mauris. <a>@bulmaio</a>.
                <a href="#">#css</a>
                <a href="#">#responsive</a>
                <br />
                <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
              </div>
            </div>
            <div class="card-footer">
                <a href="#" class="card-footer-item">Like</a>
                <a href="#" class="card-footer-item">Comment</a>
                <a href="#" class="card-footer-item">Share</a>
            </div>
          </div>
          </template>
        </div>
      </div>
      <!-- Termina card de historias -->
    </article>
  </div>
</template>

<script>
export default {
    name: 'HistoryComponent',
    data(){
        return{
            dataUser:[
                {id: 1,name: 'Isaac', email: 'isaac@hotmail.com', description:'Mi descripcion es que soy chido'},
                {id: 2,name: 'Sonia', email: 'sonia@hotmail.com', description:'Mi descripcion es que soy chida'},
                {id: 3,name: 'Raul', email: 'raul@hotmail.com', description:'Mi descripcion es que soy chido'},
                {id: 4,name: 'Raul', email: 'raul@hotmail.com', description:'Mi descripcion es que soy chido'},
                {id: 5,name: 'Raul', email: 'raul@hotmail.com', description:'Mi descripcion es que soy chido'},
                {id: 6,name: 'Raul', email: 'raul@hotmail.com', description:'Mi descripcion es que soy chido'},
                {id: 7,name: 'Raul', email: 'raul@hotmail.com', description:'Mi descripcion es que soy chido'},
                {id: 8,name: 'Raul', email: 'raul@hotmail.com', description:'Mi descripcion es que soy chido'},
            ]
        }
    },
    computed: {
        getUser() {
        return this.$store.state.user;
        },
        getDataUser(){
            return this.dataUser;
        }
    },
}
</script>

<style>
article {
  background: #85929E;
}
.card{
    margin: 10px;
}
</style>