<template>
  <div id="">
    <!-- Inicia Chat -->
    <div>
      <template v-if="chat">
        
        <div class="card">
          <div class="card-header">
            <div class="card-header-title">My Friends</div>
            <div class="card-header-icon" id="hand" @click="chatFalse">-</div>
          </div>
          <div class="card-content" v-for="user in getDataFriends" :key="user.id">
            <div class="media">
              <div class="media-left">
                <figure class="image is-48x48">
                  <img
                    src="https://bulma.io/images/placeholders/48x48.png"
                    alt="Placeholder image"
                  />
                </figure>
              </div>
            <div class="media-content">
              <h1 class="is-title 4" id="hand" @click="openChat(user)"><strong>{{ user.name }}</strong></h1>
            </div>
            </div>
          </div>
        </div>
      </template>
      <!-- Termina Chat -->

      <template v-else>
        <div class="card">
          <div class="card-footer">
            <a href="#" @click="chatTrue" class="card-footer-item"
              >Amigos Conectados</a
            >
          </div>
        </div>
      </template>
    </div>
  </div>
</template>

<script>
//import {mapGetters} from 'vuex'
export default {
  name: "ListUserComponent",
  data() {
    return {
      chat: false,
      searchUser: "",
    };
  },
  methods: {
    chatTrue() {
      this.chat = true;
    },
    chatFalse() {
      this.chat = false;
    },
    getIdChat(friend) {
      console.log(friend.id + "  " + friend.name);
    },
    async openChat(chatUser) {
      try {
        this.$store.dispatch("chats/openChat", chatUser);
      } catch (error) {
        console.log("No se pudo abrir chat" + error.message);
      }
    },
  },
  computed: {
    // getFriends() {
    //   return this.dataFriends;
    // },
    // doSearchUser() {
    //   return this.dataFriends.filter((user) => {
    //     return user.name.includes(this.searchUser);
    //   });
    // },
    getDataFriends() {
      return this.$store.state.user.dataFriends;
    },
  },
};
</script>

<style>
#hand{
  cursor: pointer;
}
#sizeComponent{
  width: 15%;
}
</style>
