<template>
  <div class="hello">
    <article>
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item"  href="https://bulma.io">
          <img
            src="../assets/img/icono.jpeg"
          />
        </a>

        <a
          role="button"
          class="navbar-burger"
          aria-label="menu"
          aria-expanded="false"
          data-target="navbarBasicExample"
        >
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item"> Home </a>

          <a class="navbar-item"> Documentation </a>

            <div class="columns is-multiline">
            <div class="column">
                <div class="card-footer" id="footerr">
              <div class="card-footer-item" id="search-color">
                  <input class="input is-rounded" type="text" placeholder="Find your friend">
                  <button class="button is-link is-rounded" @click="iraPerfil">Search</button>
              </div>
          </div>
            </div>
        </div>
        </div>

        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              <a class="button is-primary">
                <strong>Sign up</strong>
              </a>
              <a class="button is-light"> Log in </a>
            </div>
          </div>
        </div>
      </div>
    </nav>
    </article>
  </div>
</template>

<script>
export default {
  name: "HelloWorld",
  computed:{
    isLogin(){
      return this.$store.dispatch('user/getCurrentUser');
    }
  },
  methods:{
    iraPerfil(){
      this.$router.push({name: 'profile'});
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
.navbar__logo {
  width: 200px;
  height: auto;
}
nav{
  background: #34495E;
}
#search-color{
  background: #34495E;
}

</style>
